@import url("../../global/styles.css");

main {
  padding: 1vh 2vw;
}

#keyboard-details {
  display: flex;
  flex-direction: column;
  padding: 2vh 0 4vh 0;
  font-weight: 300;
  font-size: 16px;
}

.detail-title {
  display: inline-flex;
  min-width: 10vw;
  color: rgba(var(--mauve));
  font-weight: 800;
}

.layout {
  grid-gap: 5px;
  border-radius: 1vh;
}

.layout>.keyboard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(var(--crust));
  border-radius: 1vh;
  background: rgba(var(--mantle));
  padding: 1vh;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
}

.special {
  font-style: italic;
  font-weight: 800;
}

.key-highlight {
  background: rgba(var(--yellow), 0.2) !important;
}
