@import url("../../global/styles.css");

main {
  padding: 1vh 2vw;
}

h5 {
  font-weight: 300;
  font-size: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  border-radius: 1vh;
  padding: 1vh 2vw;
}

.list-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0.2vh 4vw;
  font-weight: 300;
  font-size: 16px;
}

.list-highlight {
  background: rgba(var(--surface0)) !important;
}

.list-item > span {
  margin: 0 2vw;
}

li {
  border-radius: 2vh;
  padding: 0.2vh 2vw;
}

[id$="done-section"] li {
  text-decoration: line-through;
}
