@import url("../../global/styles.css");

h1 {
  font-size: 60px;
}

h4 {
  font-size: 14px;
}

#base {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1vw;
  row-gap: 1vh;
  padding: 1vh 4vw;
}

#base span {
  display: flex;
  align-items: center;
}
