@import url("../../global/styles.css");

#base {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1vw;
  row-gap: 1vh;
  padding: 1vh 4vw;
  font-size: 16px;
}

#base span {
  display: flex;
  align-items: center;
}
