/*FONT: JetBrainsMono*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("./breakpoints.css");

/* Default Values */
* {
  outline: none;
  color: rgba(var(--text));
  font-family: "JetBrains Mono", monospace;
}

*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: rgba(var(--surface0));
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--crust));
}

*:focus {
  outline: 2px dotted rgba(var(--lavender)) !important;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: rgba(var(--base));
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  gap: 2vh;
  background: rgba(var(--base));
  padding: 1vh 2vw;
}

h1 {
  margin: 1vh 2vw;
  font-weight: 800;
  font-size: 60px;
}

h4 {
  margin: 0 0 2vh 0;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
}

img {
  width: auto;
  height: 100px;
}

input {
  border: 2px solid rgba(var(--crust));
  border-radius: 100vh;
  background: rgba(var(--mantle));
  padding: 0.5vh 2vw;
  height: 16px;
  color: rgba(var(--text));
  font-weight: 200;
  font-size: 14px;
}

input::-webkit-input-placeholder {
  color: rgba(var(--text), 0.8);
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#which-key {
  display: grid;
  position: fixed;
  bottom: 2vh;
  left: 50%;
  grid-template-columns: auto auto auto;
  transform: translate(-50%, 0);
  border-radius: 2vh;
  background: rgba(var(--crust));
  padding: 1vh 2vw;
  width: 80%;
  font-weight: 300;
  font-size: 16px;
}

#which-key span {
  color: rgba(var(--blue));
}

#which-key i {
  color: rgba(var(--surface2));
}

#which-key div {
  color: rgba(var(--mauve));
}

#which-key .folder {
  color: rgba(var(--peach));
}

.code-key {
  color: rgba(var(--mauve));
}

.code-fn {
  color: rgba(var(--blue));
}

.code-import {
  color: rgba(var(--lavender));
}

.code-str {
  color: rgba(var(--green));
}

.code-builtin {
  color: rgba(var(--peach));
}

.marked {
  background: rgba(var(--yellow), 0.2) !important;
}

.marked-highlight {
  color: rgba(var(--yellow)) !important;
  font-weight: 800;
}

.btn-row {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  padding: 2vh 0;
}

.btn-row>button {
  flex: 1;
  border: none;
  border-bottom: 4px solid rgba(var(--crust));
  border-radius: 1vh;
  background: rgba(var(--surface0));
  min-width: 10%;
  height: 30px;
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-row>.trailing-btn {
  min-width: 30px;
  max-width: 50px;
  font-size: 16px;
}
