/*FONT: JetBrainsMono*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("./breakpoints.css");

/* Default Values */
* {
  color: rgba(var(--text));
  font-family: "JetBrains Mono", monospace;
}

*::-webkit-scrollbar {
  width: 1vw;
}

*::-webkit-scrollbar-track {
  background: rgba(var(--surface0));
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--crust));
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: rgba(var(--base));
}

body {
  min-height: 100vh;
}

h1 {
  margin: 1vh 2vw;
  font-weight: 800;
  font-size: 80px;
}
