@import url("../../global/styles.css");

h1 {
  font-size: 60px;
}

h4 {
  font-size: 14px;
}

.base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh;
}

.section-1 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1vw;
  row-gap: 1vh;
  padding: 1vh 4vw;
  font-size: 16px;
}

.section-2 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 0.8vw;
  row-gap: 0.8vh;
  grid-column: span 3;
  padding: 1vh 2vw;
  font-size: 14px;
}

.title-1 {
  grid-column: span 3;
  padding: 4vh 0 1vh 0;
  color: rgba(var(--lavender));
  font-weight: 800;
  font-size: 24px;
}

.title-2 {
  grid-column: span 3;
  color: rgba(var(--mauve));
  font-weight: 300;
  font-size: 20px;
}
