@import url("../assets/global.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  min-height: 100dvh;
}

h1 {
  color: var(--gold);
  font-weight: 900;
  font-size: var(--fs-5);

  span {
    color: var(--love);
    font-weight: 300;
  }
}

h2 {
  font-weight: 300;
  font-size: var(--fs-1);
}

label {
  &:last-of-type {
    margin-bottom: var(--s-m);
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80%;
}

#todos {
  display: none;
  column-gap: var(--s-m);
  flex-direction: row;

  :nth-child(1) {
    flex: 1;
  }

  :nth-child(2) {
    flex: 4;
  }
}

#dones {
  display: none;
  column-gap: var(--s-m);
  flex-direction: row;

  :nth-child(1) {
    flex: 1;
  }

  :nth-child(2) {
    flex: 4;
  }
}

ul {
  padding: 0;
  list-style: none;

  li {
    padding: var(--s-3xs) var(--s-m);
    text-align: end;
    text-wrap: wrap;

    &.selected {
      background: var(--gold);
      color: var(--base);
    }
  }
}

#input-section {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--base);
  padding: var(--s-m);
  width: calc(100% - var(--s-m) * 2);
}

#input {
  display: flex;
  column-gap: var(--s-m);
  flex-direction: row;

  input {
    flex: 1;
    background-color: var(--surface);
  }

  button {
    background-color: var(--overlay);
  }
}
