@import url("../assets/global.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--gold);
  font-weight: 900;
  font-size: var(--fs-5);
}

.base {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 1vw;
  row-gap: 1vh;
  padding: 1vh 4vw;
  max-width: 1440px;
  font-size: var(--fs-0);
}

.base span {
  display: flex;
  align-items: center;
}
