/*FONT: JetBrainsMono*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

/*THEME: Catppuccin*/
@media (prefers-color-scheme: light) {
  :root {
    --rosewater: 220, 138, 120;
    --flamingo: 221, 120, 120;
    --pink: 234, 118, 203;
    --mauve: 136, 57, 239;
    --red: 210, 15, 57;
    --maroon: 230, 69, 83;
    --peach: 254, 100, 11;
    --yellow: 223, 142, 29;
    --green: 64, 160, 43;
    --teal: 23, 146, 153;
    --sky: 4, 165, 229;
    --sapphire: 32, 159, 181;
    --blue: 30, 102, 245;
    --lavender: 114, 135, 253;
    --text: 76, 79, 105;
    --subtext1: 92, 95, 119;
    --subtext0: 108, 111, 133;
    --overlay2: 124, 127, 147;
    --overlay1: 140, 143, 161;
    --overlay0: 156, 160, 176;
    --surface2: 172, 176, 190;
    --surface1: 188, 192, 204;
    --surface0: 204, 208, 218;
    --base: 239, 241, 245;
    --mantle: 230, 233, 239;
    --crust: 220, 224, 232;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: 245, 224, 220;
    --flamingo: 242, 205, 205;
    --pink: 245, 194, 231;
    --mauve: 203, 166, 247;
    --red: 243, 139, 168;
    --maroon: 235, 160, 172;
    --peach: 250, 179, 135;
    --yellow: 249, 226, 175;
    --green: 166, 227, 161;
    --teal: 148, 226, 213;
    --sky: 137, 220, 235;
    --sapphire: 116, 199, 236;
    --blue: 137, 180, 250;
    --lavender: 180, 190, 254;
    --text: 205, 214, 244;
    --subtext1: 186, 194, 222;
    --subtext0: 166, 173, 200;
    --overlay2: 147, 153, 178;
    --overlay1: 127, 132, 156;
    --overlay0: 108, 112, 134;
    --surface2: 88, 91, 112;
    --surface1: 69, 71, 90;
    --surface0: 49, 50, 68;
    --base: 30, 30, 46;
    --mantle: 24, 24, 37;
    --crust: 17, 17, 27;
  }
}

* {
  outline: none;
  color: rgba(var(--text));
  font-family: "JetBrains Mono", monospace;
}

.marked {
  color: rgba(var(--yellow)) !important;
}

.marked-highlight {
  margin: 1vh 1vw;
  border-radius: 1vh;
  background: rgba(var(--yellow), 0.2) !important;
  padding: 1vh 1vw;
  color: rgba(var(--text)) !important;
}

.error {
  border: 2px solid rgba(var(--red)) !important;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

body {
  display: inline-flex;
  background: rgba(var(--base));
}

body::-webkit-scrollbar {
  display: none;
}

.full > .home-icon {
  max-width: 100%;
  max-height: 100%;
}

.sticky > .home-icon {
  max-width: 60px;
  max-height: 60px;
}

#page-indicator {
  position: fixed;
  bottom: 2vh;
  left: 50vw;
  transform: translate(-50%, 0);
  z-index: 100;
  border: 2px solid rgba(var(--mauve));
  border-radius: 1vh;
  background: rgba(var(--base));
  padding: 0.5vh 1vw;
}

#page-indicator > button {
  margin: 0 0.2vw;
  border: none;
  border-radius: 1vh;
  background: rgba(var(--overlay0));
  padding: 0;
  width: 1.2vh;
  height: 1.2vh;
}

.page {
  display: inline-flex;
  flex-direction: column;
  padding: 0 2vw;
  width: 96vw;
  scroll-snap-align: center;
}

.page-header.full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease;
  height: 100vh;
}

.page-header.sticky {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  transition: height 0.5s ease;
  background: rgba(var(--base));
  height: 100px;
}

.page-header.full > h1 {
  font-size: 60px;
}

.page-header.sticky > h1 {
  position: relative;
  left: 20px;
  font-weight: 800;
  font-size: 40px;
}

.page-header.full > span {
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  text-align: right;
}

.page-header.sticky > span {
  flex: 1;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  text-align: right;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  border: 2px solid rgba(var(--crust));
  border-radius: 1vh;
  background: rgba(var(--mantle));
}

section:focus,
.layout:focus {
  border: 2px dotted rgba(var(--blue)) !important;
}

.sub-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: none;
  border-radius: 1vh;
}

.sub-section::-webkit-scrollbar {
  display: none;
}

.sub-section > .header-container {
  display: flex;
  position: sticky;
  top: calc(100px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  border-bottom: 8px solid rgba(var(--crust), 0.5);
  border-radius: 1vh;
  background: rgba(var(--mantle));
  padding: 10px;
  height: 125px;
}

.sub-section > .header-container > h2 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 40px;
}

.sub-section > .header-container > input {
  border: 2px solid rgba(var(--crust));
  border-radius: 100vh;
  background: rgba(var(--base));
  padding: 1vh 2vw;
  width: 80%;
  height: 20px;
  color: rgba(var(--text));
  font-weight: 200;
}

.sub-section > .header-container > input::-webkit-input-placeholder {
  color: rgba(var(--text), 0.8);
}

.sub-section > h3 {
  position: sticky;
  top: calc(100px + 125px + 20px);
  z-index: 8;
  background: rgba(var(--mantle));
  padding-top: 2vh;
  padding-left: 2vw;
  overflow: hidden;
  color: rgba(var(--green));
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-section > h4 {
  position: sticky;
  top: calc(100px + 125px + 20px + 26px + 20px);
  z-index: 7;
  background: rgba(var(--mantle));
  padding-left: 4vw;
  overflow: hidden;
  color: rgba(var(--blue));
  font-weight: 600;
  font-size: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2vh 4vw;
  font-weight: 300;
  font-size: 14px;
}

.list-element > span:nth-child(1) {
  min-width: 35%;
}

.list-element > span:nth-child(2) {
  max-width: 70%;
}

.btn-row {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  padding: 2vh 2vw;
}

.btn-row > button {
  flex: 1;
  border: none;
  border-bottom: 4px solid rgba(var(--crust));
  border-radius: 1vh;
  background: rgba(var(--base));
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layout {
  grid-gap: 5px;
  border-radius: 1vh;
  padding: 2vh 2vw;
}

.layout > .keyboard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(var(--crust));
  border-radius: 1vh;
  background: rgba(var(--base));
  padding: 1vh;
  font-weight: 300;
  text-align: center;
  word-break: break-all;
  overflow-wrap: break-word;
}

.special {
  font-style: italic;
  font-weight: 800;
}

.key-highlight {
  background: rgba(var(--yellow), 0.2) !important;
}
