/*FONT: JetBrainsMono*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/*THEME: Catppuccin*/
@media (prefers-color-scheme: light) {
  :root {
    --rosewater: 220, 138, 120;
    --flamingo: 221, 120, 120;
    --pink: 234, 118, 203;
    --mauve: 136, 57, 239;
    --red: 210, 15, 57;
    --maroon: 230, 69, 83;
    --peach: 254, 100, 11;
    --yellow: 223, 142, 29;
    --green: 64, 160, 43;
    --teal: 23, 146, 153;
    --sky: 4, 165, 229;
    --sapphire: 32, 159, 181;
    --blue: 30, 102, 245;
    --lavender: 114, 135, 253;
    --text: 76, 79, 105;
    --subtext1: 92, 95, 119;
    --subtext0: 108, 111, 133;
    --overlay2: 124, 127, 147;
    --overlay1: 140, 143, 161;
    --overlay0: 156, 160, 176;
    --surface2: 172, 176, 190;
    --surface1: 188, 192, 204;
    --surface0: 204, 208, 218;
    --base: 239, 241, 245;
    --mantle: 230, 233, 239;
    --crust: 220, 224, 232;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: 245, 224, 220;
    --flamingo: 242, 205, 205;
    --pink: 245, 194, 231;
    --mauve: 203, 166, 247;
    --red: 243, 139, 168;
    --maroon: 235, 160, 172;
    --peach: 250, 179, 135;
    --yellow: 249, 226, 175;
    --green: 166, 227, 161;
    --teal: 148, 226, 213;
    --sky: 137, 220, 235;
    --sapphire: 116, 199, 236;
    --blue: 137, 180, 250;
    --lavender: 180, 190, 254;
    --text: 205, 214, 244;
    --subtext1: 186, 194, 222;
    --subtext0: 166, 173, 200;
    --overlay2: 147, 153, 178;
    --overlay1: 127, 132, 156;
    --overlay0: 108, 112, 134;
    --surface2: 88, 91, 112;
    --surface1: 69, 71, 90;
    --surface0: 49, 50, 68;
    --base: 30, 30, 46;
    --mantle: 24, 24, 37;
    --crust: 17, 17, 27;
  }
}

* {
  color: rgba(var(--text));
  font-family: "JetBrains Mono", monospace;
}

html,
body {
  margin: 0;
  scroll-snap-type: x mandatory;
}

body {
  display: inline-flex;
  background: rgba(var(--base));
}

body::-webkit-scrollbar {
  display: none;
}

#page-indicator {
  position: fixed;
  bottom: 2vh;
  left: 50vw;
  transform: translate(-50%, 0);
}

#page-indicator > button {
  margin: 0 0.2vw;
  border: none;
  border-radius: 1.2vh;
  background: rgba(var(--overlay0), 0.5);
  padding: 0;
  width: 1.2vh;
  height: 1.2vh;
  color: rgba(var(--base));
}

.page {
  display: inline-flex;
  flex-direction: column;
  padding: 0 2vw;
  width: 96vw;
  height: 100vh;
  scroll-snap-align: center;
}

.page-header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
}

.page-header > h1 {
  position: sticky;
  top: 2vh;
  left: 2vw;
  font-weight: 800;
}

#shortcuts {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 2vw;
}

#shortcuts > section {
  flex: 1;
}

div[id*="-0"].sub-section {
  border-radius: 1vh;
  background: rgba(var(--crust));
  max-width: 46vw;
  max-height: 80vh;
  overflow-y: scroll;
}

div[id*="-0"].sub-section::-webkit-scrollbar {
  display: none;
}

:not(div[id*="-0"]) .marked {
  color: rgba(var(--yellow));
}

:not(div[id*="-0"]) .marked-highlight {
  background: rgba(var(--yellow), 0.2);
  color: rgba(var(--text));
}

.sub-section > .header-container {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: rgba(var(--crust));
  padding: 0 2vw;
}

.sub-section > .header-container > h2 {
  flex: 0.7;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-section > .header-container > input {
  flex: 0.3;
}

.sub-section > h3 {
  position: sticky;
  top: 4.1rem;
  left: 1vw;
  z-index: 8;
  margin: 1vh 0;
  background: rgba(var(--crust));
  text-align: center;
}

.list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  padding: 1vh 2vw;
  font-size: 0.8rem;
}

.list-element > span:nth-child(1) {
  border-radius: 1vh;
  background: rgba(var(--mantle));
  padding: 1vh;
  min-width: 35%;
}

.list-element > span:nth-child(2) {
  max-width: 70%;
}
